.test-button {
  position: absolute;
  left: 500px;
}

.status {
  position: absolute;
  top: 0px;
  display: none;
}

.enroute-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  font-size: 10px;
}

.driver-bar {
  display: flex;
  justify-content: center;
  height: 15%;
}

.driver-container {
  display: flex;
  flex-direction: column;
}

.driver-info {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.driver-name {
  margin-left: 10px;
}
.driver-rating {
  margin-left: 10px;
}

.driver-pic {
  height: 35px;
  width: 35px;
  border-radius: 200px;
  padding-left: 10px;
}

.car-info {
  display: flex;
  justify-content: flex-start;
}

.car-pic {
  height: 30px;
  width: 60px;
  border-radius: 200px;
  padding-left: 10px;
}

.car-make {
  margin-left: 10px;
}

.eta {
  align-self: center;
}

.enroute-map-container {
  width: 100%;
  height: 50%;
  background-color: blue;
}

#map {
  height: 100%;
}
