li {
  list-style: none;
}

html, input, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  width: 100%;
  height: 100%;
  font-family: 'Exo', sans-serif;
  font-weight: 200;
}

html {
  overflow: hidden;
}

input {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  color: black;
  background: #f3f3f5;
  font-size: 12px;
  box-sizing: border-box;
  border-bottom: 1px solid #352384;
}

input:focus {
  background: white;
  border-bottom: 1px solid #352384;
}

::-webkit-input-placeholder { /* Chrome */
  color: #352384;
  opacity: 0.3;
}
:focus::-webkit-input-placeholder {
  opacity: 0.2;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #352384;
  opacity: 0.3;
}
:focus:-ms-input-placeholder {
  opacity: 0.2;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #352384;
  opacity: 0.3;
}
:focus::-moz-placeholder {
  opacity: 0.2;
}

:-moz-placeholder { /* Firefox 4 - 18 */
  color: #352384;
  opacity: 0.3;
}
:focus:-moz-placeholder {
  opacity: 0.2;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

h1,h2,h3,h4,h5,h6{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin: 0px;
  padding: 0px;

}
