.test-button {
  position: absolute;
  left: 500px;
}

.requesting {
  font-size: 40px;

}

.enroute-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  font-size: 10px;
  background-color: #F3F3F5;
}

.driver-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;

  border-bottom: 1px solid #352834;
}

.driver-container {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  height: 50px;
}

.driver-info {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  margin-left: 30px;
}

.driver-name {
  margin-left: 10px;
  margin-top: 28px;
  display: inline-block;
  align-self: center;
}
.driver-rating {
  margin-left: 10px;
  margin-top: 28px;
  display: inline-block;
  align-self: center;
}

.driver-pic {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  border: 1px solid #352834;
  display: inline-block;
  align-self: center;
}

.car-info {
  display: flex;
  justify-content: flex-start;
  margin-left: 200px;
}

.car-pic {
  height: 30px;
  width: 60px;
  border-radius: 200px;
  border: 1px solid #352834;
  display: inline-block;
  align-self: center;
}

.car-make {
  margin-left: 10px;
  align-self: center;
  display: inline-block;
  margin-top: 27px
}

.ride-info {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: inherit;
  border-top: 1px solid #352834;
  font-size: 16px;
  box-sizing: border-box;
  color: #352834;
  padding-top: 12px;
}

.status {
  align-self: center;
  margin-left: 30px;
}

.eta {
  align-self: center;
  margin-left: 130px;
}

.enroute-map-container {
  width: 100%;
  height: 85%;
  background-color: blue;
}

.map {
  height: 100%;
}

.cancel-button {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0px;
  background-color: #f3f5f5;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #352834;
}

.cancel-button:hover {
  background-color: red;
  color: #f3f5f5;
}

.gmnoprint {
  display: none;
}
