.open {
  text-align: center;
  background-image: url('https://res.cloudinary.com/dlhshbg79/image/upload/c_fill,e_auto_color,g_custom,h_600,w_500/v1486335927/8e2gal_gie8-why-kei_jovjrn.jpg');
}

#login {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 60px;
  bottom: 0;
  left: 0;
  background: #F3F3F5;
}

.open h1 {
  font-size: 60px;
  padding-top: 10vh;
}

.open a {
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: 200;
  justify-content: center;
  align-items: center;
  color: black;
}

#uber-login {
  border-right: 0.1px solid black;
  box-sizing: border-box;
}

#uber-login:hover {
  background: black;
  color: white;
}

#lyft-login {
  border-left: 0.1px solid black;
  box-sizing: border-box;
}

#lyft-login:hover {
  background: #FF00BF;
  color: white;
}
