/*LYFT_PINK = "#FF00BF";
LYFT_MULBERRY = "#352384";
LYFT_CHARCOAL = "#333447";
LYFT_BONE = "#F3F3F5";
LIGHT_FONT = "Gotham Light";
FONT = "Gotham Book";
BOLD_FONT = "Gotham Bold";*/



#root, .body{
  width: 500px;
  height: 100%;
}

.search-page{
  width: 100%;
  height: 100%;
}

.quotes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 95px);
}

.null{
  height: calc(100% - 95px);
}







.search-container {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: #333447;
}

.search-container > div {
  height: 30px;
  width: 100%;
  background-color: transparent;
}



.pac-container{
  border-width: 0px;
  height: auto;
}

/*.pac-item-query{
  font-family: "Gotham Light", sans-serif;
}*/

.pac-item{
  height: auto;
  font-family: "Gotham Light", sans-serif;
  margin: 0;
  padding: 5px;
  border-width: 0px;
}

.pac-item:hover, .pac-item-selected{
  color: black;
  font-family: "Gotham Bold", sans-serif;
  cursor: pointer;
}

/*.pac-item-selected{
  height: auto;
  background-color: #333447;
  color: white;
  font-family: "Gotham Bold", sans-serif;
  margin: 0;
  padding: 5px;
}*/


.results-container {
  display: flex;
  flex-direction: row;
  font-family: "Gotham Bold", sans-serif;

}






.spinner{
  width: auto;
  height: auto;
}

.quotes-container{

}

.ride-info{
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333447;
  color: white;
}

.company-titles{
  text-align: center;
  height: auto;
  margin-bottom: 15px;
}








.uber-results {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: black;
  color: white;
}

.lyft-results {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: #FF00BF;
  color: white;
}

.uber-lineitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-style: solid;
  font-family: inherit;
  color: inherit;
  height: calc(20% - 13px);
}

.uber-lineitem-times{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: inherit;
  color: inherit;
  height: auto;
}

.company-titles{
  font-size: 30px;
  font-family: inherit;
  color: inherit;
  margin: 15px 0;
}

.time-inner-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  margin: 0px;
  padding: 0;
  font-family: inherit;
  color: inherit;
}


.uber-key-data{
  margin: 0px;
  font-family: inherit;
  color: inherit;
}
