.search-container {
  position: absolute;
  height: 100px;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pickup-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}

#dropoff-input {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
}

.results-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 140px);
  margin-top: 100px;
}

.results-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.results-list > li {
  font-size: 14px;
}

.results-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
  border-bottom: 1px solid #352384;
}

#uber-logo{
  height: 40px;
  width: auto;
}

#lyft-logo{
  height: 55px;
  width: auto;
}

.pac-container{
  border-width: 0px;
  height: auto;
}

.pac-item{
  height: auto;
  margin: 0;
  padding: 5px;
  border-width: 0px;
}

.pac-item:hover, .pac-item-selected{
  color: black;
  cursor: pointer;
}

.company-titles{
  display: flex;
  align-items: center;
  font-size: 30px;
  width: 75px;
  margin-left: 15px;
}
/*-----------------------------------------------------*/

.lineitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: inherit;
  color: inherit;
  height: calc(20% - 16px);
  width: 50vw;
}

.lyft:hover{
  background-color: #ff00bf;
  color: white;
  cursor: pointer;
}

.uber:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 50vw;
  color: white;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  height: 74px;
  line-height: 74px;
}

.ub-tool{
  background-color: black;
}

.ly-tool{
  background-color: #ff00bf;
  width: 50vw;
}

.lineitem-tooltip:hover .tooltip{
  visibility: visible;
  cursor: auto;
}

.time-inner-div, .uber-important{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin: 0px;
  width: calc(100% - 50px);
  padding: 0;
  font-family: inherit;
  color: inherit;
}

.key-data, .time-data{
  width: auto;
  margin: 5px 0px;
  font-size: 12px;
}

.key-data{
  margin: 0px;
  font-family: inherit;
  color: inherit;
  font-size: 17px;
  font-weight: 400;
}

.search-logins {
  font-family: 'Syncopate', sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  max-height: 40px;
}

.search-logins > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-top: 1px solid #352384;
  font-family: 'Syncopate', sans-serif;
  background: #f3f3f5;
}

#lone {
  border: 0px;
  border-top: 1px solid #352384;
}
